@{
    Layout = "_Layout";
}

@model List<Pizza>

@if(Model.Count() == 0)
{
    <h3>Non ci sono pizze da mostrare</h3>

}else {

    <main>

        <div class="container">
            <a class="btn btn-success"
               href="@Url.Action("Create", "Pizza")">
               Crea nuova pizza
            </a>
            <div class="row">
                <div class="col-12">

                    <h1 class="my-5 text-success">Menù pizze</h1>

                    <table class="table">
                        <thead>
                            <tr>
                                <th scope="col">Nome</th>
                                <th scope="col">Descrizione</th>
                                <th scope="col">Immagine</th>
                                <th scope="col">Prezzo</th>
                            </tr>
                        </thead>
                        <tbody>

                            @foreach(Pizza pizza in Model)
                            {
                                <tr>
                                    <td>
                                        <a href="@Url.Action("DettagliPizza", "Home", new { id = pizza.Id })">
                                            <p>@pizza.Nome</p>
                                        </a>
                                    </td>
                                    <td>@pizza.Descrizione</td>
                                    <td><img width="200" src="@pizza.Image" alt="Immagine pizza" /></td>
                                    <td>€ @pizza.Prezzo</td>
                                    <td><a href="#">Modifica</a>
                                    <td><a href="#">Elimina</a>
                                </tr>
                            }
                        </tbody>
                    </table>

                </div>
            </div>
        </div>

    </main>

}








